@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.top-nav-menu {
  background: steelblue;
}

.top-nav-menu > a {
  min-width: 150px;
  padding: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid gray;
}

.title-logo {
  color: white;
  padding: 8px;
  background-color: #eea69c #eee7cf #81bab9 #fc7e83 #f7bb43 #78d7d3 #ffa9b0
    #45869a #f2f0d8 #eea69c;
}

/* logo-colors: 

*/
