.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.home-tabs {
  background: #eee7cf;
  position: sticky;
  top: 64px;
  display: flex;
  justify-content: center;
}

.home-tabs > a {
  line-height: 50px;
  margin-right: 16px;
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.home-tabs > a:hover {
  background: steelblue;
  color: #eee7cf;
}

.content-container {
  overflow: scroll;
  scroll-behavior: smooth;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 64px;
}
.content-container {
  > section {
    max-width: 1200px;
    min-width: 1200px;
    margin: 0px auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.home-layout {
  height: 100vh;
}
